@import '../../variables';

.who-to-follow-person {
  width: 100%;

  .person--followed-by {
    display: block;
    color: $gray;
    width: 100%;
    text-align: right;
  }

  .person--details {
    display: flex;

    .person-details--lhs {
      width: 25%;
    }

    .person-details--rhs {
      // display: flex;
      // align-items: flex-start;
      // justify-content: center;

      .person-details--name,
      .person-details--handle {
        display: inline;
      }

      .person-details--handle {
        color: $gray;
        padding-left: .5em;
      }

      .btn {
        display: block;
        margin-top: .5em;
        padding: 8px 32px;
      }
    }
  }
}
