.react-router-modal__modal {
  // width: 50%;
  // height: 50%;
  // background: white;
}

.single-tweet-container {
  width: 50vw;
  height: 50vw;

  display: flex;
  flex-direction: column;

  .single-tweet-header {
    display: flex;
    width: 100%;
  }

}