@import '../../variables';

.who-to-follow {
  background: $white;
  padding: .5em;

  .who-to-follow--header {
    display: flex;
    align-items: center;
    justify-content: center;

    .header--title {
      margin-right: auto;
    }

    .header--link {
      color: $blue;
      padding: 0 .25em;

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  .who-to-follow--content {
    padding-top: 1em;
    width: 100%;

    .user {
      margin-bottom: 1em;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
