@import 'variables';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $bg-grey;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &:visited {
    color: inherit;
  }
}

.container {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1190px;
  margin: 0 auto;

  .container--c {
    width: 50%;
    margin: 0 16px;
    max-width: 564px;
  }

  .container--lhs,
  .container--rhs {
    width:
    %;
    max-width: 290px;
  }

  .container--c,
  .container--lhs,
  .container--rhs {
    margin-top: 16px;
  }
}
