@import 'variables';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

input {
  padding: 8px;
  border: 1px solid $bg-grey;
  border-radius: 21px;

  &:focus {
    outline: 0;
    border-color: $blue;
  }
}

h1 {

}

h2 {
  font-size: 1.3em;
}

h3 {
  
}

h4 {
  font-size: .85em;
  color: $gray;
}

h5 {
  color: $blue;
  font-size: 1.3em;
}

h6 {

}

.container {
  padding: 0 5%;
}

.btn {
  border-radius: 21px;
  border: 0;
  padding: 8px 16px;
  cursor: pointer;
  
  &:hover {
  }

  &.btn--primary {
    background: $blue--lighter;
    color: $white;
  }
  
  &.btn--outline {
    border: 1px solid $blue--lighter;
    color: $blue--lighter;
  }
}