@import '../../variables';

.new-tweet {
  width: 100%;
  background: $light-blue;
  border-bottom: 1px solid $bg-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;

  .new-tweet--write {
    padding: 8px;
    width: calc(100% - 50px);
    margin: 0 8px;
  }
}